body{
    background: linear-gradient(90deg, rgb(3, 62, 35) 0%, rgb(8, 132, 66) 0%, rgb(12, 246, 121) 100%);
}

h1{
    font-weight: bold;
    text-align: center;
}

#desc{
    text-align:center;
    font-weight:bold;
}

h3{
    text-align: center;
}

img{
    width: 100px;
    height: 150px;
}

#oneor11{
    display: none;
}

#oneor11too{
    display: none;
}
#startOver{
    display: none;
}

#hitButt{
    display: none;
}

#standButt{
    display: none;
}

#placeBet{
    display: none;
}

#bet{
    display: none;
}